{% extends 'base.html' %}
{% load static %}

{% block title %}Anorak Blog{% endblock title %}

{% block content %}
<section class="pt-7 pb-12">
  <div class="container">
    <div id="blog-nav-row" class="row">
      <div class="col-12">

        <!-- Heading -->
        <h2 class="mb-7 text-center">Our Story</h2>

      </div>
    </div>
    
    <div class="row ">
      {% for post in object_list reversed %}
      <div class="col-12 col-md-6 wrapping-flex">

        <!-- Card -->
        <div class="card mb-7">

          <!-- Badge -->
          <div class="badge badge-white card-badge">
            <time class="text-uppercase" datetime="2019-06-20">Jun 20</time>
          </div>

          <!-- Image -->
          {% if post.thumbnail_image %}
            <img class="card-img-top" src="{{ post.thumbnail_image.url }}" alt="...">
          {% else %}
            <img class="card-img-top" src="../static/imgs/nature1.jpg" alt="...">
          {% endif %}
          
          <!-- Body -->
          <div class="card-body px-0">

            <!-- Heading -->
            <h5>{{ post.title }}</h5>

            <!-- Text -->
            <p class="mb-0 text-gray-500">
              {{post.thumbnail_text}}
            </p>

            <!-- Button -->
            <a class="btn btn-link stretched-link px-0 text-reset" href="{% url 'blog_detail' post.pk %}">
              Read More <i class="fe fe-arrow-right ml-2"></i>
            </a>

          </div>

        </div>

      </div>
      {% endfor %}
    </div>

    <div class="row">
      <div class="col">
        <a class="btn btn-primary float-right" href="{% url 'blog_new' %}">+ Write Post</a>
      </div>
    </div>

  </section>
{% endblock %}